* {
  margin: 0;
  padding: 0;
}
.logo {
  width: 170px;
  height: 120px;

}
.header {
  width: 70%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 7px 7px 10px gray, -7px -7px -10px rgb(232, 100, 100);
  margin: auto;
  flex-wrap: wrap;
  padding: 15px;
}
ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
a {
  color: black;
  text-decoration: none;
  margin: 20px;
  
}
a:hover{
     color:orangered;
     font-size: 30px;
     text-decoration: underline;
     transition: ease-in 0.3s;
}
